.ul-banner {
    position: relative;
    background-color: var(--ul-black);
    overflow: hidden;
    color: var(--white);
    z-index: 1;

    &::before {
        content: "";
        position: absolute;
        inset: 0;
        background: url(../img/banner-bg-shape.svg) no-repeat center center/cover;
        mix-blend-mode: multiply;
        pointer-events: none;
        z-index: -1;
    }

    &-container {
        max-width: clamp(922px, 90.38vw, 1720px);
        width: 100%;
        margin: auto;

        @include md {
            max-width: calc(100% - 30px);
        }
    }

    &-txt {
        padding: clamp(150px, 16.03vw, 305px) 0;
        // position: relative;
        z-index: 1;

        @include md {
            padding-top: 0;
        }

        &-vector {
            position: absolute;
            z-index: 1;
            bottom: 0;
            z-index: 0;
            pointer-events: none;
            left: clamp(15px, 4.20vw, 80px);
            max-width: clamp(284px, 29.64vw, 564px);
        }
    }

    &-sub-title {
        font-weight: 600;
        letter-spacing: 0.25em;
        margin-bottom: clamp(6px, 0.63vw, 12px);
    }

    &-title {
        font-weight: 700;
        font-size: clamp(30px, 4.20vw, 80px);
        font-family: var(--font-quicksand);
        line-height: 100%;
        letter-spacing: -0.02em;
        margin-bottom: clamp(17px, 1.42vw, 27px);
        margin-left: -5px;
    }

    &-descr {
        font-size: clamp(15px, 0.95vw, 18px);
        font-weight: 500;
        margin-bottom: clamp(21px, 2.15vw, 41px);
    }

    &-btns {
        display: flex;
        gap: clamp(20px, 2.10vw, 40px);
        align-items: center;
        flex-wrap: wrap;
    }

    &-stat {
        display: flex;
        gap: clamp(7px, 0.53vw, 10px);
        align-items: center;

        .imgs {
            display: flex;
            align-items: center;

            >* {
                width: clamp(40px, 2.63vw, 50px);
                aspect-ratio: 1/1;
                margin-left: calc(0% - clamp(12px, 0.79vw, 15px));
                border: 3px solid var(--white);
                border-radius: 999px;
                background-color: var(--ul-black);
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: clamp(11px, 0.74vw, 14px);
                font-weight: 800;
                color: var(--ul-primary);

                &:first-child {
                    margin-left: 0;
                }
            }
        }

        .txt {
            font-size: clamp(11px, 0.74vw, 14px);
            font-weight: 600;
        }
    }

    &-img {
        position: relative;
        width: max-content;
        z-index: 1;

        @include md {
            margin-left: auto;
            margin-right: -15px;
        }

        .img-wrapper {
            background: linear-gradient(180deg, var(--ul-primary) 0%, rgba(235, 83, 16, 0) 51%, var(--ul-primary) 100%);
            padding-left: 10px;
            clip-path: polygon(20.444% 6.836%, 20.444% 6.836%, 21.079% 1.445%, 21.969% -3.298%, 23.149% -7.442%, 24.655% -11.037%, 26.521% -14.129%, 28.783% -16.769%, 31.475% -19.005%, 34.633% -20.885%, 38.291% -22.458%, 42.485% -23.773%, 42.485% -23.773%, 51.821% -25.092%, 61.13% -24.265%, 70.354% -21.642%, 79.44% -17.571%, 88.329% -12.403%, 96.968% -6.486%, 105.299% -0.169%, 113.267% 6.199%, 120.817% 12.269%, 127.892% 17.691%, 127.892% 17.691%, 133.187% 21.665%, 138.424% 25.901%, 143.431% 30.413%, 148.036% 35.215%, 152.067% 40.322%, 155.351% 45.748%, 157.717% 51.507%, 158.992% 57.614%, 159.004% 64.083%, 157.581% 70.928%, 157.581% 70.928%, 154.251% 78.396%, 149.391% 84.901%, 143.283% 90.358%, 136.208% 94.679%, 128.447% 97.778%, 120.283% 99.568%, 111.997% 99.963%, 103.871% 98.874%, 96.186% 96.217%, 89.224% 91.904%, 89.224% 91.904%, 84.824% 88.551%, 80.861% 85.901%, 77.197% 83.943%, 73.692% 82.666%, 70.205% 82.06%, 66.599% 82.113%, 62.733% 82.815%, 58.469% 84.155%, 53.665% 86.122%, 48.184% 88.705%, 48.184% 88.705%, 41.958% 91.563%, 36.284% 93.719%, 31.115% 95.169%, 26.403% 95.908%, 22.102% 95.934%, 18.165% 95.243%, 14.544% 93.83%, 11.192% 91.692%, 8.062% 88.825%, 5.108% 85.226%, 5.108% 85.226%, 3.102% 82.034%, 1.619% 78.74%, 0.63% 75.368%, 0.106% 71.943%, 0.017% 68.487%, 0.333% 65.024%, 1.025% 61.58%, 2.062% 58.177%, 3.417% 54.84%, 5.058% 51.592%, 5.058% 51.592%, 8.7% 45.01%, 11.636% 39.594%, 13.954% 35.08%, 15.745% 31.209%, 17.099% 27.718%, 18.105% 24.347%, 18.852% 20.834%, 19.431% 16.919%, 19.932% 12.34%, 20.444% 6.836%);

            @include md {
                padding-left: 0;
            }

            img {
                max-height: clamp(0px, 65.74vw, 1251px);
                width: 100%;
                max-width: clamp(300px, 50.45vw, 960px);
                aspect-ratio: 960/1000;
                clip-path: polygon(20.444% 6.836%, 20.444% 6.836%, 21.079% 1.445%, 21.969% -3.298%, 23.149% -7.442%, 24.655% -11.037%, 26.521% -14.129%, 28.783% -16.769%, 31.475% -19.005%, 34.633% -20.885%, 38.291% -22.458%, 42.485% -23.773%, 42.485% -23.773%, 51.821% -25.092%, 61.13% -24.265%, 70.354% -21.642%, 79.44% -17.571%, 88.329% -12.403%, 96.968% -6.486%, 105.299% -0.169%, 113.267% 6.199%, 120.817% 12.269%, 127.892% 17.691%, 127.892% 17.691%, 133.187% 21.665%, 138.424% 25.901%, 143.431% 30.413%, 148.036% 35.215%, 152.067% 40.322%, 155.351% 45.748%, 157.717% 51.507%, 158.992% 57.614%, 159.004% 64.083%, 157.581% 70.928%, 157.581% 70.928%, 154.251% 78.396%, 149.391% 84.901%, 143.283% 90.358%, 136.208% 94.679%, 128.447% 97.778%, 120.283% 99.568%, 111.997% 99.963%, 103.871% 98.874%, 96.186% 96.217%, 89.224% 91.904%, 89.224% 91.904%, 84.824% 88.551%, 80.861% 85.901%, 77.197% 83.943%, 73.692% 82.666%, 70.205% 82.06%, 66.599% 82.113%, 62.733% 82.815%, 58.469% 84.155%, 53.665% 86.122%, 48.184% 88.705%, 48.184% 88.705%, 41.958% 91.563%, 36.284% 93.719%, 31.115% 95.169%, 26.403% 95.908%, 22.102% 95.934%, 18.165% 95.243%, 14.544% 93.83%, 11.192% 91.692%, 8.062% 88.825%, 5.108% 85.226%, 5.108% 85.226%, 3.102% 82.034%, 1.619% 78.74%, 0.63% 75.368%, 0.106% 71.943%, 0.017% 68.487%, 0.333% 65.024%, 1.025% 61.58%, 2.062% 58.177%, 3.417% 54.84%, 5.058% 51.592%, 5.058% 51.592%, 8.7% 45.01%, 11.636% 39.594%, 13.954% 35.08%, 15.745% 31.209%, 17.099% 27.718%, 18.105% 24.347%, 18.852% 20.834%, 19.431% 16.919%, 19.932% 12.34%, 20.444% 6.836%);

                @include sm {
                    max-width: clamp(300px, 70.45vw, 990px);
                    max-height: none;
                }
            }
        }


        &::before {
            content: "";
            position: absolute;
            inset: 0;
            z-index: 1;
            pointer-events: none;
            background: linear-gradient(180deg, #1E252F -5.34%, rgba(30, 37, 47, 0) 39.75%);
        }


        &-vectors {

            >* {
                position: absolute;
                z-index: -1;
            }

            .vector-1 {
                top: clamp(92px, 9.56vw, 182px);
                left: clamp(50px, 6.31vw, 120px);
            }

            .vector-2 {
                bottom: clamp(40px, 4.73vw, 90px);
                right: clamp(135px, 12.35vw, 235px);
            }
        }
    }

    &-vectors {
        >* {
            position: absolute;
        }

        .vector-1 {
            top: clamp(50px, 3.42vw, 65px);
            left: 0;
            max-width: clamp(72px, 5.83vw, 111px);
        }

        .vector-2 {
            left: 0;
            bottom: clamp(5px, 1.47vw, 28px);
            max-width: clamp(80px, 8.20vw, 156px);

            @include sm {
                left: auto;
                right: 0;
                transform: scale(-1);
                opacity: 0;
            }
        }

        .vector-3 {
            right: 0;
            top: clamp(16px, 1.00vw, 19px);
            max-width: clamp(106px, 9.93vw, 189px);
        }
    }

    // ------------------ Index 2 Banner ------------------
    &-2 {
        background-color: transparent;
        max-width: clamp(0px, 96.95vw, 1845px);
        margin: auto;
        border-radius: clamp(20px, 2.10vw, 40px);

        @include md {
            margin: 0 15px;
        }

        &::before {
            content: none;
        }

        &-slider {
            clip-path: polygon(29.268% 100%, 2.168% 100%, 2.168% 100%, 1.816% 99.939%, 1.483% 99.763%, 1.172% 99.481%, 0.888% 99.103%, 0.635% 98.638%, 0.418% 98.096%, 0.242% 97.486%, 0.111% 96.819%, 0.028% 96.103%, 0% 95.349%, 0% 4.651%, 0% 4.651%, 0.028% 3.897%, 0.111% 3.181%, 0.242% 2.514%, 0.418% 1.904%, 0.635% 1.362%, 0.888% 0.897%, 1.172% 0.519%, 1.483% 0.237%, 1.816% 0.061%, 2.168% 0%, 97.832% 0%, 97.832% 0%, 98.184% 0.061%, 98.517% 0.237%, 98.828% 0.519%, 99.112% 0.897%, 99.365% 1.362%, 99.582% 1.904%, 99.758% 2.514%, 99.889% 3.181%, 99.972% 3.897%, 100% 4.651%, 100% 95.349%, 100% 95.349%, 99.972% 96.103%, 99.889% 96.819%, 99.758% 97.486%, 99.582% 98.096%, 99.365% 98.638%, 99.112% 99.103%, 98.828% 99.481%, 98.517% 99.763%, 98.184% 99.939%, 97.832% 100%, 71.614% 100%, 71.614% 100%, 71.262% 99.939%, 70.929% 99.763%, 70.618% 99.481%, 70.333% 99.103%, 70.081% 98.638%, 69.864% 98.096%, 69.688% 97.486%, 69.557% 96.819%, 69.474% 96.103%, 69.446% 95.349%, 69.446% 95.137%, 69.446% 95.137%, 69.418% 94.383%, 69.336% 93.667%, 69.204% 93%, 69.028% 92.39%, 68.811% 91.848%, 68.558% 91.383%, 68.274% 91.005%, 67.963% 90.723%, 67.63% 90.547%, 67.278% 90.486%, 33.604% 90.486%, 33.604% 90.486%, 33.252% 90.547%, 32.919% 90.723%, 32.607% 91.005%, 32.323% 91.383%, 32.071% 91.848%, 31.854% 92.39%, 31.678% 93%, 31.546% 93.667%, 31.464% 94.383%, 31.436% 95.137%, 31.436% 95.349%, 31.436% 95.349%, 31.407% 96.103%, 31.325% 96.819%, 31.194% 97.486%, 31.017% 98.096%, 30.801% 98.638%, 30.548% 99.103%, 30.264% 99.481%, 29.953% 99.763%, 29.619% 99.939%, 29.268% 100%);
            z-index: 1;

            @include sm {
                // clip-path: polygon(10.745% 96.073%, 9.077% 98.535%, 9.077% 98.535%, 8.9% 98.74%, 8.66% 98.933%, 8.362% 99.111%, 8.01% 99.273%, 7.608% 99.417%, 7.163% 99.543%, 6.679% 99.648%, 6.161% 99.73%, 5.613% 99.789%, 5.041% 99.823%, 5.041% 99.823%, 4.243% 99.826%, 3.478% 99.779%, 2.76% 99.687%, 2.098% 99.554%, 1.507% 99.384%, 0.996% 99.181%, 0.578% 98.948%, 0.265% 98.691%, 0.068% 98.412%, 0% 98.116%, 0% 4.651%, 0% 4.651%, 0.164% 3.897%, 0.637% 3.181%, 1.395% 2.514%, 2.412% 1.904%, 3.661% 1.362%, 5.118% 0.897%, 6.756% 0.519%, 8.549% 0.237%, 10.472% 0.061%, 12.5% 0%, 87.5% 0%, 87.5% 0%, 89.528% 0.061%, 91.451% 0.237%, 93.244% 0.519%, 94.882% 0.897%, 96.339% 1.362%, 97.588% 1.904%, 98.605% 2.514%, 99.363% 3.181%, 99.836% 3.897%, 100% 4.651%, 100% 98.151%, 100% 98.151%, 99.935% 98.451%, 99.747% 98.736%, 99.445% 99.001%, 99.041% 99.243%, 98.545% 99.459%, 97.966% 99.643%, 97.315% 99.794%, 96.602% 99.906%, 95.838% 99.976%, 95.032% 100%, 95.032% 100%, 94.35% 99.983%, 93.694% 99.932%, 93.069% 99.85%, 92.484% 99.739%, 91.946% 99.6%, 91.461% 99.437%, 91.036% 99.25%, 90.679% 99.043%, 90.396% 98.816%, 90.195% 98.573%, 88.668% 96.148%, 88.668% 96.148%, 88.162% 95.536%, 87.45% 94.967%, 86.552% 94.445%, 85.483% 93.976%, 84.262% 93.564%, 82.907% 93.216%, 81.435% 92.936%, 79.865% 92.73%, 78.213% 92.602%, 76.497% 92.558%, 22.865% 92.558%, 22.865% 92.558%, 21.172% 92.601%, 19.54% 92.725%, 17.986% 92.927%, 16.528% 93.2%, 15.182% 93.54%, 13.966% 93.943%, 12.897% 94.402%, 11.993% 94.914%, 11.269% 95.472%, 10.745% 96.073%);

                clip-path: polygon(16.124% 100%, 7.168% 100%, 7.168% 100%, 6.006% 99.888%, 4.903% 99.562%, 3.874% 99.042%, 2.935% 98.344%, 2.1% 97.486%, 1.383% 96.486%, 0.8% 95.361%, 0.365% 94.129%, 0.094% 92.809%, 0% 91.416%, 0% 8.584%, 0% 8.584%, 0.094% 7.191%, 0.365% 5.871%, 0.8% 4.639%, 1.383% 3.514%, 2.1% 2.514%, 2.935% 1.656%, 3.874% 0.958%, 4.903% 0.438%, 6.006% 0.112%, 7.168% 0%, 92.832% 0%, 92.832% 0%, 93.994% 0.112%, 95.097% 0.438%, 96.126% 0.958%, 97.065% 1.656%, 97.9% 2.514%, 98.617% 3.514%, 99.2% 4.639%, 99.635% 5.871%, 99.906% 7.191%, 100% 8.584%, 100% 91.416%, 100% 91.416%, 99.906% 92.809%, 99.635% 94.129%, 99.2% 95.361%, 98.617% 96.486%, 97.9% 97.486%, 97.065% 98.344%, 96.126% 99.042%, 95.097% 99.562%, 93.994% 99.888%, 92.832% 100%, 83.787% 100%, 83.787% 100%, 83.117% 99.935%, 82.482% 99.748%, 81.89% 99.448%, 81.349% 99.047%, 80.868% 98.553%, 80.456% 97.977%, 80.12% 97.329%, 79.87% 96.62%, 79.714% 95.86%, 79.659% 95.058%, 79.659% 95.058%, 79.567% 93.684%, 79.299% 92.381%, 78.87% 91.166%, 78.295% 90.056%, 77.588% 89.069%, 76.763% 88.222%, 75.837% 87.533%, 74.822% 87.02%, 73.733% 86.699%, 72.586% 86.588%, 49.731% 86.588%, 27.325% 86.588%, 27.325% 86.588%, 26.177% 86.699%, 25.089% 87.02%, 24.074% 87.533%, 23.147% 88.222%, 22.323% 89.069%, 21.616% 90.056%, 21.04% 91.166%, 20.612% 92.381%, 20.343% 93.684%, 20.251% 95.058%, 20.251% 95.058%, 20.197% 95.86%, 20.041% 96.62%, 19.79% 97.329%, 19.455% 97.977%, 19.042% 98.553%, 18.561% 99.047%, 18.02% 99.448%, 17.428% 99.748%, 16.793% 99.935%, 16.124% 100%);
            }

            @include xxs {
                // clip-path: polygon(93.548% 100%, 93.387% 100%, 93.387% 100%, 92.341% 99.954%, 91.348% 99.823%, 90.422% 99.612%, 89.577% 99.329%, 88.825% 98.981%, 88.18% 98.576%, 87.656% 98.12%, 87.264% 97.621%, 87.02% 97.086%, 86.935% 96.522%, 86.935% 95.058%, 86.935% 95.058%, 86.855% 94.52%, 86.622% 94.009%, 86.248% 93.533%, 85.748% 93.098%, 85.132% 92.711%, 84.415% 92.379%, 83.608% 92.11%, 82.725% 91.908%, 81.778% 91.783%, 80.779% 91.739%, 49.032% 91.739%, 18.898% 91.739%, 18.898% 91.739%, 17.9% 91.783%, 16.952% 91.908%, 16.069% 92.11%, 15.262% 92.379%, 14.545% 92.711%, 13.93% 93.098%, 13.429% 93.533%, 13.056% 94.009%, 12.823% 94.52%, 12.742% 95.058%, 12.742% 96.565%, 12.742% 96.565%, 12.659% 97.122%, 12.417% 97.651%, 12.031% 98.144%, 11.513% 98.594%, 10.876% 98.994%, 10.134% 99.337%, 9.299% 99.617%, 8.385% 99.825%, 7.404% 99.955%, 6.371% 100%, 6.371% 100%, 5.338% 99.955%, 4.357% 99.825%, 3.443% 99.617%, 2.608% 99.337%, 1.866% 98.994%, 1.229% 98.594%, 0.711% 98.144%, 0.325% 97.651%, 0.083% 97.122%, 0% 96.565%, 0% 3.478%, 0% 3.478%, 0.084% 2.914%, 0.329% 2.379%, 0.72% 1.88%, 1.245% 1.424%, 1.89% 1.019%, 2.641% 0.671%, 3.487% 0.388%, 4.412% 0.177%, 5.405% 0.046%, 6.452% 0%, 93.548% 0%, 93.548% 0%, 94.595% 0.046%, 95.588% 0.177%, 96.513% 0.388%, 97.359% 0.671%, 98.11% 1.019%, 98.755% 1.424%, 99.28% 1.88%, 99.671% 2.379%, 99.916% 2.914%, 100% 3.478%, 100% 96.522%, 100% 96.522%, 99.916% 97.086%, 99.671% 97.621%, 99.28% 98.12%, 98.755% 98.576%, 98.11% 98.981%, 97.359% 99.329%, 96.513% 99.612%, 95.588% 99.823%, 94.595% 99.954%, 93.548% 100%);

                clip-path: polygon(6.622% 100%, 6.452% 100%, 6.452% 100%, 5.405% 99.954%, 4.412% 99.823%, 3.487% 99.612%, 2.641% 99.329%, 1.89% 98.981%, 1.245% 98.576%, 0.72% 98.12%, 0.329% 97.621%, 0.084% 97.086%, 0% 96.522%, 0% 2.609%, 0% 2.609%, 0.063% 2.186%, 0.247% 1.784%, 0.54% 1.41%, 0.934% 1.068%, 1.417% 0.764%, 1.981% 0.503%, 2.615% 0.291%, 3.309% 0.133%, 4.054% 0.034%, 4.839% 0%, 95.484% 0%, 95.484% 0%, 96.216% 0.032%, 96.911% 0.124%, 97.559% 0.272%, 98.151% 0.47%, 98.677% 0.713%, 99.129% 0.997%, 99.496% 1.316%, 99.77% 1.665%, 99.941% 2.04%, 100% 2.435%, 100% 96.522%, 100% 96.522%, 99.916% 97.086%, 99.671% 97.621%, 99.28% 98.12%, 98.755% 98.576%, 98.11% 98.981%, 97.359% 99.329%, 96.513% 99.612%, 95.588% 99.823%, 94.595% 99.954%, 93.548% 100%, 93.055% 100%, 93.055% 100%, 92.046% 99.958%, 91.085% 99.835%, 90.185% 99.637%, 89.358% 99.372%, 88.615% 99.045%, 87.971% 98.663%, 87.436% 98.231%, 87.023% 97.757%, 86.745% 97.246%, 86.613% 96.705%, 86.452% 95.058%, 86.435% 94.945%, 86.435% 94.945%, 86.282% 94.415%, 85.988% 93.917%, 85.566% 93.454%, 85.027% 93.035%, 84.383% 92.663%, 83.646% 92.346%, 82.828% 92.09%, 81.94% 91.899%, 80.994% 91.78%, 80.003% 91.739%, 49.032% 91.739%, 19.682% 91.739%, 19.682% 91.739%, 18.709% 91.779%, 17.779% 91.893%, 16.904% 92.077%, 16.096% 92.326%, 15.364% 92.633%, 14.721% 92.993%, 14.179% 93.401%, 13.748% 93.851%, 13.439% 94.337%, 13.265% 94.855%, 13.226% 95.058%, 13.065% 96.705%, 13.065% 96.705%, 12.933% 97.246%, 12.654% 97.757%, 12.242% 98.231%, 11.707% 98.663%, 11.062% 99.045%, 10.32% 99.372%, 9.492% 99.637%, 8.592% 99.835%, 7.631% 99.958%, 6.622% 100%);

                clip-path: polygon(8.152% 100%, 4.839% 100%, 4.839% 100%, 4.054% 99.966%, 3.309% 99.867%, 2.615% 99.709%, 1.981% 99.497%, 1.417% 99.236%, 0.934% 98.932%, 0.54% 98.59%, 0.247% 98.216%, 0.063% 97.814%, 0% 97.391%, 0% 2.609%, 0% 2.609%, 0.063% 2.186%, 0.247% 1.784%, 0.54% 1.41%, 0.934% 1.068%, 1.417% 0.764%, 1.981% 0.503%, 2.615% 0.291%, 3.309% 0.133%, 4.054% 0.034%, 4.839% 0%, 95.484% 0%, 95.484% 0%, 96.216% 0.032%, 96.911% 0.124%, 97.559% 0.272%, 98.151% 0.47%, 98.677% 0.713%, 99.129% 0.997%, 99.496% 1.316%, 99.77% 1.665%, 99.941% 2.04%, 100% 2.435%, 100% 97.391%, 100% 97.391%, 99.937% 97.814%, 99.753% 98.216%, 99.46% 98.59%, 99.066% 98.932%, 98.583% 99.236%, 98.019% 99.497%, 97.385% 99.709%, 96.691% 99.867%, 95.946% 99.966%, 95.161% 100%, 91.525% 100%, 91.525% 100%, 90.769% 99.968%, 90.048% 99.876%, 89.373% 99.728%, 88.752% 99.529%, 88.195% 99.284%, 87.712% 98.997%, 87.311% 98.674%, 87.001% 98.318%, 86.792% 97.935%, 86.694% 97.529%, 86.452% 95.058%, 86.318% 94.143%, 86.318% 94.143%, 86.203% 93.746%, 85.983% 93.372%, 85.666% 93.026%, 85.262% 92.711%, 84.779% 92.432%, 84.226% 92.195%, 83.613% 92.002%, 82.947% 91.859%, 82.238% 91.77%, 81.495% 91.739%, 49.032% 91.739%, 18.229% 91.739%, 18.229% 91.739%, 17.499% 91.769%, 16.802% 91.855%, 16.146% 91.993%, 15.539% 92.179%, 14.991% 92.409%, 14.509% 92.68%, 14.102% 92.985%, 13.779% 93.323%, 13.547% 93.688%, 13.417% 94.076%, 13.226% 95.058%, 12.984% 97.529%, 12.984% 97.529%, 12.885% 97.935%, 12.676% 98.318%, 12.367% 98.674%, 11.966% 98.997%, 11.482% 99.284%, 10.925% 99.529%, 10.305% 99.728%, 9.63% 99.876%, 8.909% 99.968%, 8.152% 100%);


            }

            &-navigation {
                position: absolute;
                bottom: clamp(10px, 0.68vw, 13px);
                z-index: 1;
                left: 50%;
                transform: translateX(-50%);
                display: flex;

                @include xl {
                    bottom: 0;
                }

                button {
                    padding: 0;
                }
            }
        }

        &-thumb-slider {
            margin: 0 10px;
            width: 140px;
            // position: absolute;
            // top: 0;

            img {
                width: clamp(35px, 2.10vw, 40px);
                aspect-ratio: 1/1;
                object-fit: cover;
                border-radius: 50%;
            }
        }

        &-slide {
            padding: clamp(100px, 12.35vw, 235px) clamp(15px, 3.15vw, 60px);
            position: relative;
            z-index: 1;

            &::before {
                content: "";
                position: absolute;
                inset: 0;
                z-index: -1;
                background: linear-gradient(101.64deg, rgba(235, 83, 16, 0.9) 1.87%, rgba(235, 83, 16, 0.1) 98.72%);
                pointer-events: none;
            }

            &-bg-img {
                position: absolute;
                inset: 0;
                z-index: -2;
                pointer-events: none;
                height: 100%;
                width: 100%;
                object-fit: cover;
            }

            .ul-banner-txt {
                padding: 0;
            }

            .ul-banner-sub-title {
                color: var(--white);

                &::before {
                    background-color: var(--white);
                }
            }

            .ul-banner-title {
                line-height: 1.2;
            }

            .ul-btn {
                background-color: transparent;
                border-color: var(--white);

                &:hover {
                    background-color: var(--white);
                    color: var(--ul-black);
                }
            }
        }
    }
}