:root {
    --black: #000;
    --white: #fff;
    --ul-primary: #EB5310;
    --ul-secondary: #FAA019;
    --ul-c3: #FFE9C8;
    --ul-c4: #FFF9F4;
    --ul-c5: #FC791A;
    --ul-black: #1E252F;
    --ul-p: #434343;
    --ul-gray: #434343;
    --ul-gray2: #D2D2D1;
    --ul-gray3: #F4F4F4;
    --ul-gradient: linear-gradient(90deg, var(--ul-primary) 0%, var(--ul-secondary) 100%);

    --font-primary: "Manrope", serif;
    --font-quicksand: "Quicksand", serif;
    --font-caveat: "Caveat", serif;
}